.sideBar {
    display: flex;
    flex-direction: column;
    flex: .35;   
      
}
.sideBar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 7vw;
}


.sideBar_chat{ 
    height: 100vh;
    background: white;
    overflow: scroll;
    scroll-behavior: smooth;
}

.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size:    24px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* height  */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }