.login{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.login_container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px;
}

.login_container >img{
   object-fit: contain;
   height: 100px;
   margin-bottom: 40px;
}

.login_container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}
.login-form {
    width: 100%;
    min-width: 358px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 10px 0;
    /* border: 1px solid red; */
  }
  .login-form__link {

    color: white;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .login-form__input {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding: 13px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
  
  .login-form__input::placeholder {
    color: #CCCCCC;
  }
  .login-form__input:focus {
    outline:none;
  }
  .login-form__button {
    width: 30%;
    margin-top: 20px;
    align-self: center;
    min-height: 40px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    background: #66C15D;
    border: none;
    border-radius: 2px;
  }
  
  .login-form__button:hover{
    cursor: pointer;
    opacity: .8;
  }